@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
h1{
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
}
/*------*/

.icon{
    width: 68px;
    height: 68px;
    border-radius: 50px;
}

.navbar{
   background: #ffddd2;
}



/*about me*/
.yoo-container{
    padding: 30px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5cac3;
    border-radius: 40px;

}

.yoo{
    width: 25%;
    border-radius: 10%;
    border: 5px solid #f9844a;
}
.yoo-h{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}
/*about me end*/
/*perfil*/
.main-s{
    background: #f5cac3;
    padding: 40px;
    margin: 70px;
    border-radius: 20px;

}
.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5cac3;
}


.skull{
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

.html{
    background: #f94144;
}
.css{
    background: #4361ee;
}
.react{
    background: #32cbff;
}
.python{
    background: #ffea00;
}
.C{
    background: #3c91e6;
}
.java{
    background: #ff5400;
}

.jobs{
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    background: #f5cac3;
}
.carousel{
    width: 100%;
    margin: 40px auto;
}
@media (min-width:768px){
    .carousel{
        width: 100%;
    }
}
@media (min-width:1400px){
    .carousel{
        width: 40%;
    }
}
.grid{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr;
    gap:20px;
    justify-content: center;
    align-items: center;
}
@media(min-width:768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1400px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

.paginas{
    width: 100%;
    border-radius: 10%;
    border: 5px solid #f9844a;
}
/*form*/
.tb{
    margin: 10px 0;
}
.tex{
    resize: none;
}
.btn-custom{
    background: #e56b6f;
    transition: background .1s;
}
.btn-custom:hover{
    background: #ff5a5f;
}
.check{
    margin: 15px 0;
}
span{
    color:#f94144;
}
.banner{
    width: 100%;
    border-radius: 40px;
    border: 5px solid #f9844a;
}
/*footer*/
.foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f5cac3;
    
}
.foot__img{
    margin: 40px 0;
    border: 5px solid #f9844a;
    border-radius: 50px;
    width: 108px;
    height: 108px;
}
.icons{
    margin: 30px;
}